*{
   font-family: sans-serif;
}

/*------ HEADER ------*/

#logo_mob img{
   height: 2.4rem;
}

#logo, .ms_hidden{
   display: none;
}

.ms_border_left{
   
}

/* https://getbootstrap.com/docs/5.3/utilities/display/#hiding-elements */

.bi-bell-fill{
   color: #FF8F00;
}
/*------ MAIN ------*/

main{
   height: calc(100vh - 4rem);
   background-color: #051E34;
}

/*------ ASIDE ------*/

aside{
   background-image: url(../img/sidebar-bg.png);
   width: 4rem;
   padding: 2rem 1rem;
}

#aside-top{
   min-height: 7rem;
}

aside a{
   color: white;
   text-decoration: none;
}

aside i{
   font-size: 25px;
}

aside span{
   display: inline-block;
   vertical-align: middle;
}

/*------ DASHBOARD ------*/

#dashboard{
   width: calc(100% - 3rem); 
   background-color: crimson;           /* ----------------------------------- */
}

/*------ TOP-BAR ------*/

#top-bar{
   height: 8rem;
   background-color: #1B72E8;
}





/* ----- SCHERMI S ----- */
@media screen and (min-width: 768px){

   #nuovo-studente{
      order: 5;
   }
  
}

/* ----- SCHERMI MD ----- */
@media screen and (min-width: 992px){

 
}

/* ----- SCHERMI LG ----- */
@media screen and (min-width: 1200px){

   #logo_mob{
      display: none;
   }
   
   #logo, .ms_hidden{
      display: inline-block;
   }

   aside{
      width: 9rem;
   }
   
   #corpo{
      width: calc(100% - 9rem); 
   }

   aside span{
      display: inline-block;
   }
   
}