*{
   font-family: sans-serif;
}

/*------ HEADER ------*/

#logo_mob img{
   height: 2.4rem;
}

#logo, .ms_hidden{
   display: none;
}

.ms_bg_search{
   background-color: #E5E5E5;
}

.bi-bell-fill{
   color: #FF8F00;
}
/*------ MAIN ------*/

main{
   height: calc(100vh - 4rem);
   background-color: #051E34;
}


/*------ ASIDE ------*/

aside{
   background-image: url(../img/sidebar-bg.png);
   width: 4rem;
}

#aside-top{
   min-height: 9rem;
}

#aside-top a, #aside-bottom a{
   border: none;
   border-radius: 0;
   width: 100%;
   text-align: left;
}

aside i{
   font-size: 25px;
}

aside span{
   vertical-align: text-bottom;
}

/*------ DASHBOARD ------*/

#dashboard{
   width: calc(100% - 3rem); 
}

/*------ TOP-BAR ------*/

#top-bar{
   background-color: #1B72E8;
}

#nuovo-studente .ms_offcanvas{
   width: 100%;
}

#boolean-piano .badge{
   background-color: #165BBA;
}

#boolean-piano .badge:hover{
   background-color: #114286;
   cursor: pointer;
}

/*------ PROSSIME CLASSI ------*/

td img{
   height: 2rem;
   border-radius: 50%;
}

.ms_table_text td{
   width: 5rem;
   white-space: nowrap;
}

.ms_table_text tr td:first-child, .ms_table_text tr th:first-child {
   text-align: left;
}

.ms_table_text tr td:nth-child(2), .ms_table_text tr th:nth-child(2) {
   display: none;
}

.ms_table_text tr td:nth-child(3), .ms_table_text tr th:nth-child(3) {
   display: none;
}

/* ----- SCHERMI S ----- */
@media screen and (min-width: 768px){

   #nuovo-studente{
      order: 5;
   }
   
   .ms_table_text tr td:nth-child(3), .ms_table_text tr th:nth-child(3) {
      display: table-cell;
   }

   .ms_table_text tr td:first-child, .ms_table_text tr th:first-child {
      text-align: left;
      width: auto;
   }
}

/*------ BREACKPOINT CUSTOM ------*/
@media screen and (min-width: 847px){

   .ms_table_text tr td:nth-child(2), .ms_table_text tr th:nth-child(2) {
      display: table-cell;
   }
}

/* ----- SCHERMI MD ----- */
@media screen and (min-width: 992px){

   #logo_mob, .ms_plus{
      display: none;
   }
   
   #logo, .ms_hidden{
      display: inline-block;
   }

   aside span{
      display: inline-block;
   }

   aside{
      width: 9rem;
   } 

   #nuovo-studente .ms_offcanvas{
      width: 50%;
   }
}